// Colors
$textDark    : #222831;
$textWhite   : #f5f5f5;
$primary     : #363062;
$backGround  : #ececec;
$shadowColor : #36306266;
$gradient    : linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%);
$danger      : #dc3545;

// Global Styles
*:not(i) {
  font-family : 'Cairo', sans-serif;
  font-weight : 400;
}

* {
  text-transform : capitalize;
  color          : $textDark;
}

input, textarea {
  text-transform : none;
}

a,
button {
  text-transform  : capitalize;
  text-decoration : none;
  color           : inherit;
  transition      : 0.2s opacity ease-in-out !important;
  
  &:hover {
	color   : inherit;
	opacity : 0.7;
  }
}

a,
span,
img,
i {
  display : inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight    : 700;
  text-transform : capitalize;
}

/* FontAwesome Brands Colors */

.fa-facebook-square,
.fa-facebook-f {
  color : #3b5998;
}

.fa-twitter-square,
.fa-twitter {
  color : #1da1f2;
}

.fa-instagram {
  color : #e1306c;
}

.fa-youtube-square,
.fa-youtube {
  color : #f00;
}

.fa-behance-square,
.fa-behance {
  color : #1769ff;
}

.fa-linkedin,
.fa-linkedin-in {
  color : #0077b5;
}

.fa-github-square,
.fa-github-alt,
.fa-github {
  color : #4078c0;
}

.fa-stack-overflow {
  color : #f48024;
}

//	Bootstrap Container Sizes
.container {
  @media (min-width : 1200px) {
	max-width : 85vw;
  }
  
  @media (min-width : 992px) {
	max-width : 95vw;
  }
  
  @media (min-width : 576px) {
	max-width : 95vw;
  }
  
  @media (max-width : 576px) {
	max-width : 95vw;
  }
}

//	Main Styles
body {
  background : $gradient no-repeat;
  min-height : 100vh;
  padding    : 100px 0;
  @media screen and (max-width : 767px) {
	background : $backGround;
	padding    : 0;
  }
  
  > .container {
	@media screen and (max-width : 767px) {
	  width     : 100vw;
	  max-width : 100vw;
	  padding   : 0;
	  margin    : 0;
	}
  }
  
  //	Side Menu Styles
  .side-menu {
	position                : fixed;
	top                     : 0;
	right                   : -100vw;
	bottom                  : 0;
	left                    : auto;
	z-index                 : 99;
	backdrop-filter         : blur(10px);
	-webkit-backdrop-filter : blur(10px);
	min-height              : 100vh;
	width                   : 100vw;
	overflow-x              : hidden;
	overflow-y              : scroll;
	height                  : 100%;
	
	.side-menu-con {
	  opacity    : 1;
	  position   : relative;
	  min-height : 100%;
	  background : $textWhite;
	  box-shadow : -5px -5px 10px rgba(54, 48, 98, 0.4);
	  width      : 80%;
	  padding    : 0 20px 20px 20px;
	  
	  .close-menu {
		background    : $primary;
		text-align    : start;
		padding       : 8px 20px;
		margin-bottom : 15px;
		position      : sticky;
		top           : 0;
		left          : 0;
		z-index       : 999;
		margin        : 0 -20px 20px -20px;
		
		button {
		  color          : $textWhite;
		  font-size      : 18px;
		  cursor         : pointer;
		  vertical-align : middle;
		  
		  i {
			font-size      : 24px;
			color          : #dc3545;
			margin-left    : 5px;
			width          : 24px;
			height         : 24px;
			vertical-align : middle;
		  }
		}
	  }
	  
	  .logo {
		width  : 80%;
		margin : auto;
		
		h4 {
		  font-size  : 18px;
		  text-align : center;
		  padding    : 15px 20px;
		}
	  }
	  
	  .sections {
		list-style : none;
		padding    : 0;
		margin     : 0;
		text-align : start;
		
		.section-con {
		  > a {
			i {
			  color             : $primary;
			  width             : 40px;
			  height            : 40px;
			  font-size         : 40px;
			  margin-inline-end : 10px;
			  vertical-align    : middle;
			  
			  &.fa-users {
				font-size : 32px;
			  }
			}
		  }
		  
		  &:not(:last-child) {
			margin-bottom : 15px;
		  }
		  
		  .section-list {
			list-style           : none;
			padding              : 0;
			margin               : 0;
			padding-inline-start : 10px;
			
			li {
			  &:first-child {
				margin-top : 10px;
			  }
			  
			  &:not(:last-child) {
				margin-bottom : 10px;
			  }
			  
			  &.clearfix {
				a {
				  float          : right;
				  vertical-align : middle;
				}
				
				button {
				  float : left;
				}
			  }
			  
			  button {
				color          : $danger;
				vertical-align : middle;
				
				i {
				  transform         : rotateY(180deg);
				  font-size         : 18px;
				  margin-inline-end : 5px;
				  color             : inherit;
				  
				  &.fa-plus {
					font-size : 24px;
				  }
				}
				
				span {
				  font-size   : 14px;
				  font-weight : 700;
				  color       : inherit;
				}
			  }
			}
		  }
		}
		
	  }
	  
	  .side-menu-footer {
		font-size  : 14px;
		text-align : center;
		margin-top : 25px;
		
		a {
		  color           : $primary;
		  text-decoration : underline;
		}
	  }
	}
  }
  
  //	Mobile Button Nav Styles
  .bottom-nav {
	position   : fixed;
	top        : auto;
	right      : 0;
	bottom     : 0;
	left       : 0;
	z-index    : 10;
	padding    : 10px 0;
	background : $primary;
	@media screen and (min-width : 768px) {
	  display : none;
	}
	
	.nav {
	  place-content : space-between;
	  
	  a {
		color         : $textWhite;
		width         : 50px;
		height        : 50px;
		border-radius : 50%;
		background    : $primary;
		text-align    : center;
		padding       : 0;
		
		&.active {
		  background : $textWhite;
		  color      : $primary;
		}
		
		i {
		  font-size  : 28px;
		  color      : inherit;
		  margin-top : 50%;
		  transform  : translate(0, -50%);
		}
	  }
	}
  }
}

//	App Container Styles
.app-con {
  background     : $backGround;
  box-shadow     : 0 32px 99px #ececec33;
  border-radius  : 16px;
  overflow       : hidden;
  min-height     : calc(100vh - 200px);
  position       : relative;
  padding-bottom : 83px; //	Footer Height
  @media screen and (max-width : 767px) {
	box-shadow    : none;
	border-radius : 0;
	overflow      : auto;
  }
  //	Navbar Styles
  > .navbar {
	background : $gradient;
	padding    : 10px 60px;
	@media screen and (max-width : 767px) {
	  padding : 8px 15px;
	}
	
	.navbar-brand {
	  width   : 340px;
	  padding : 0;
	  margin  : 0;
	  @media screen and (max-width : 767px) {
		width : 150px;
	  }
	}
	
	.navbar-toggler {
	  i {
		font-size : 28px;
		color     : $textWhite;
	  }
	}
	
	.navbar-collapse {
	  .navbar-nav {
		margin-inline-start : auto;
		padding             : 0;
		
		.nav-item {
		  &:not(:last-of-type) {
			margin-inline-end : 30px;
		  }
		  
		  .nav-link {
			font-size : 18px;
			color     : $textWhite;
			
			&.register-btn {
			  border        : 1px solid $textWhite;
			  border-radius : 4px;
			  padding       : 5px 15px;
			}
		  }
		}
	  }
	}
  }
  
  //	Page Styles
  .page-content {
	padding : 80px 0;
	
	> .container {
	  @media screen and (min-width : 768px) {
		width     : 100%;
		max-width : 100%;
		padding   : 0;
		margin    : 0;
	  }
	}
	
	//	Welcoming Section Styles
	.welcoming {
	  h1 {
		color         : $primary;
		font-size     : 50px;
		margin-bottom : 25px;
		@media screen and (max-width : 767px) {
		  font-size : 32px;
		}
	  }
	}
	
	//	Statistics Section Styles
	.statistics {
	  margin : 80px 0;
	  
	  .statistic-box {
		background-color : $textWhite;
		width            : 100%;
		padding-top      : 100%; /* 1:1 Aspect Ratio */
		position         : relative; /* If you want text inside of it */
		box-shadow       : 0 0 8px #36306266;
		border-radius    : 24px;
		overflow         : hidden;
		
		&.rotated {
		  .statistic-content {
			.box-bg {
			  transform : rotate(180deg);
			}
			
			.text {
			  text-align           : end;
			  padding-inline-end   : 15px;
			  padding-inline-start : 0;
			  top                  : 15px;
			  bottom               : 0;
			}
		  }
		}
		
		.statistic-content {
		  position : absolute;
		  top      : 0;
		  left     : 0;
		  bottom   : 0;
		  right    : 0;
		  
		  .box-bg {
			position        : absolute;
			left            : 0;
			bottom          : 0;
			right           : 0;
			z-index         : 1;
			width           : 100%;
			height          : 100%;
			background      : url('../images/Path 255.png') no-repeat center;
			background-size : cover;
		  }
		  
		  .text {
			position             : absolute;
			z-index              : 2;
			//margin-top           : 50%;
			//transform            : translate(0, -50%);
			padding-inline-start : 15px;
			text-align           : start;
			top                  : auto;
			right                : 0;
			bottom               : 15px;
			left                 : 0;
			
			p {
			  //font-size     : 150%;
			  font-size     : 35px;
			  font-weight   : 700;
			  margin-bottom : 0;
			  color         : $textWhite;
			  //color         : $textDark;
			  //width         : 80%;
			  @media screen and (max-width : 992px) {
				font-size : 24px;
			  }
			  
			  &:first-of-type {
				margin-bottom : 15px;
			  }
			}
		  }
		}
	  }
	  
	  @media screen and (max-width : 767px) {
		div[class^='col'] {
		  div[class^='col']:last-child {
			margin-top : 30px;
			
			.statistic-box {
			  padding-top : 35%;
			  text-align  : center;
			  
			  .text {
				text-align : center;
			  }
			}
		  }
		}
	  }
	}
	
	//	Steps Section Styles
	.steps {
	  h2 {
		color         : $primary;
		font-size     : 40px;
		margin-bottom : 40px;
		@media screen and (max-width : 767px) {
		  font-size : 28px;
		}
	  }
	  
	  h3 {
		font-size   : 24px;
		color       : $primary;
		margin      : 0 auto 5px auto;
		height      : 65px;
		line-height : 30px;
		overflow    : hidden;
	  }
	  
	  .step-box {
		background-color : $textWhite;
		width            : 100%;
		padding-top      : 100%; /* 1:1 Aspect Ratio */
		position         : relative; /* If you want text inside of it */
		box-shadow       : 0 0 8px #36306266;
		border-radius    : 50%;
		overflow         : hidden;
		
		.step-content {
		  position   : absolute;
		  top        : 0;
		  right      : 0;
		  bottom     : 0;
		  left       : 0;
		  margin-top : 50%;
		  transform  : translate(0, -30%);
		  height     : 100%;
		  @media screen and (max-width : 767px) {
			.img-con {
			  max-width : 80%;
			  margin    : auto;
			}
		  }
		}
	  }
	  
	  .btn-con {
		text-align : center;
		margin-top : 60px;
		
		a.btn {
		  font-size     : 34px;
		  padding       : 10px 80px;
		  font-weight   : 700;
		  background    : $gradient;
		  border-radius : 100px;
		  color         : $textWhite;
		  border        : none;
		  box-shadow    : none;
		  @media screen and (max-width : 767px) {
			padding   : 8px 40px;
			font-size : 20px;
		  }
		}
	  }
	  
	  @media screen and (max-width : 767px) {
		div[class^='col'] {
		  div[class^='col']:last-child {
			margin-top : 30px;
		  }
		}
	  }
	}
  }
  
  //	Big Screens Footer Styles
  footer {
	background : $gradient;
	padding    : 10px 60px;
	position   : absolute;
	top        : auto;
	right      : 0;
	bottom     : 0;
	left       : 0;
	@media screen and (max-width : 767px) {
	  display : none;
	}
	
	nav {
	  display : flex;
	  
	  .navbar-brand {
		width  : 225px;
		margin : 0;
	  }
	  
	  .navbar-nav {
		padding : 0;
		
		.nav-item {
		  color : $textWhite;
		  
		  a {
			text-decoration : underline;
		  }
		}
	  }
	}
  }
}

