*:not(i) {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

* {
  text-transform: capitalize;
  color: #222831;
}

input, textarea {
  text-transform: none;
}

a,
button {
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  transition: 0.2s opacity ease-in-out !important;
}
a:hover,
button:hover {
  color: inherit;
  opacity: 0.7;
}

a, span, img, i, label {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: capitalize;
}

.app-con .page-content .home-page .search-box .search-form .form-group, .app-con .page-content .register-page .register-box form .form-group, .app-con .page-content .home-page .search-box .search-form .input-group, .app-con .page-content .register-page .register-box form .input-group {
  margin-bottom: 15px;
}
.app-con .page-content .home-page .search-box .search-form .form-group.password, .app-con .page-content .register-page .register-box form .form-group.password, .app-con .page-content .home-page .search-box .search-form .input-group.password, .app-con .page-content .register-page .register-box form .input-group.password {
  height: 38px;
  position: relative;
}
.app-con .page-content .home-page .search-box .search-form .form-group.password .form-control, .app-con .page-content .register-page .register-box form .form-group.password .form-control, .app-con .page-content .home-page .search-box .search-form .input-group.password .form-control, .app-con .page-content .register-page .register-box form .input-group.password .form-control {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.app-con .page-content .home-page .search-box .search-form .form-group.password .input-group-append, .app-con .page-content .register-page .register-box form .form-group.password .input-group-append, .app-con .page-content .home-page .search-box .search-form .input-group.password .input-group-append, .app-con .page-content .register-page .register-box form .input-group.password .input-group-append {
  bottom: 0;
  left: 0;
  margin-left: 0;
  position: absolute;
  right: auto;
  top: 0;
}
.app-con .page-content .home-page .search-box .search-form .form-group.password .input-group-append span, .app-con .page-content .register-page .register-box form .form-group.password .input-group-append span, .app-con .page-content .home-page .search-box .search-form .input-group.password .input-group-append span, .app-con .page-content .register-page .register-box form .input-group.password .input-group-append span {
  background: none;
  border: none;
}
.app-con .page-content .home-page .search-box .search-form .form-group.password .input-group-append span i, .app-con .page-content .register-page .register-box form .form-group.password .input-group-append span i, .app-con .page-content .home-page .search-box .search-form .input-group.password .input-group-append span i, .app-con .page-content .register-page .register-box form .input-group.password .input-group-append span i {
  color: #363062;
  font-size: 24px;
  opacity: 0.75;
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control, .app-con .page-content .register-page .register-box form .form-group .form-control, .app-con .page-content .home-page .search-box .search-form .input-group .form-control, .app-con .page-content .register-page .register-box form .input-group .form-control {
  background: rgba(34, 40, 49, 0.1);
  border: none;
  border-radius: 4px;
  color: #222831;
  padding: 8px 15px;
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control:focus, .app-con .page-content .register-page .register-box form .form-group .form-control:focus, .app-con .page-content .home-page .search-box .search-form .input-group .form-control:focus, .app-con .page-content .register-page .register-box form .input-group .form-control:focus {
  box-shadow: 0 0 8px #36306266;
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control::placeholder, .app-con .page-content .register-page .register-box form .form-group .form-control::placeholder, .app-con .page-content .home-page .search-box .search-form .input-group .form-control::placeholder, .app-con .page-content .register-page .register-box form .input-group .form-control::placeholder {
  color: rgba(34, 40, 49, 0.5);
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control[title=gender], .app-con .page-content .register-page .register-box form .form-group .form-control[title=gender], .app-con .page-content .home-page .search-box .search-form .form-group .form-control[title=country], .app-con .page-content .register-page .register-box form .form-group .form-control[title=country], .app-con .page-content .home-page .search-box .search-form .form-group .form-control[title=city], .app-con .page-content .register-page .register-box form .form-group .form-control[title=city], .app-con .page-content .home-page .search-box .search-form .form-group .form-control[title=district], .app-con .page-content .register-page .register-box form .form-group .form-control[title=district], .app-con .page-content .home-page .search-box .search-form .input-group .form-control[title=gender], .app-con .page-content .register-page .register-box form .input-group .form-control[title=gender], .app-con .page-content .home-page .search-box .search-form .input-group .form-control[title=country], .app-con .page-content .register-page .register-box form .input-group .form-control[title=country], .app-con .page-content .home-page .search-box .search-form .input-group .form-control[title=city], .app-con .page-content .register-page .register-box form .input-group .form-control[title=city], .app-con .page-content .home-page .search-box .search-form .input-group .form-control[title=district], .app-con .page-content .register-page .register-box form .input-group .form-control[title=district] {
  color: #222831;
  padding: 0 15px;
}

/* FontAwesome Brands Colors */
.fa-facebook-square,
.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter-square,
.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #e1306c;
}

.fa-youtube-square,
.fa-youtube {
  color: #f00;
}

.fa-behance-square,
.fa-behance {
  color: #1769ff;
}

.fa-linkedin,
.fa-linkedin-in {
  color: #0077b5;
}

.fa-github-square,
.fa-github-alt,
.fa-github {
  color: #4078c0;
}

.fa-stack-overflow {
  color: #f48024;
}

@media (min-width: 1200px) {
  .container {
    max-width: 85vw;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 95vw;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 95vw;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 95vw;
  }
}

body {
  background: linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%) no-repeat;
  line-height: 2;
  min-height: 100vh;
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  body {
    background: #ececec;
    padding: 0;
  }
}
body > .container {
  max-width: 80vw;
  width: 80vw;
}
@media screen and (max-width: 767px) {
  body > .container {
    max-width: 100vw;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
}
body .side-menu {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  bottom: 0;
  height: 100%;
  left: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100vw;
  z-index: 99;
}
body .side-menu .side-menu-con {
  background: #f5f5f5;
  box-shadow: -5px -5px 10px #36306266;
  min-height: 100%;
  opacity: 1;
  padding: 0 20px 20px 20px;
  position: relative;
  width: 80%;
}
body .side-menu .side-menu-con .close-menu {
  background: #363062;
  text-align: start;
  padding: 8px 20px;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0 -20px 20px -20px;
}
body .side-menu .side-menu-con .close-menu button {
  color: #f5f5f5;
  font-size: 18px;
  cursor: pointer;
  vertical-align: middle;
}
body .side-menu .side-menu-con .close-menu button i {
  font-size: 24px;
  color: #dc3545;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
body .side-menu .side-menu-con .logo {
  width: 80%;
  margin: auto;
}
body .side-menu .side-menu-con .logo h4 {
  font-size: 18px;
  text-align: center;
  padding: 15px 20px;
}
body .side-menu .side-menu-con .sections {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;
}
body .side-menu .side-menu-con .sections .section-con > a i {
  color: #363062;
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin-inline-end: 10px;
  vertical-align: middle;
}
body .side-menu .side-menu-con .sections .section-con > a i.fa-users {
  font-size: 32px;
}
body .side-menu .side-menu-con .sections .section-con:not(:last-child) {
  margin-bottom: 15px;
}
body .side-menu .side-menu-con .sections .section-con .section-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-inline-start: 10px;
}
body .side-menu .side-menu-con .sections .section-con .section-list li:first-child {
  margin-top: 10px;
}
body .side-menu .side-menu-con .sections .section-con .section-list li:not(:last-child) {
  margin-bottom: 10px;
}
body .side-menu .side-menu-con .sections .section-con .section-list li.clearfix a {
  float: right;
  vertical-align: middle;
}
body .side-menu .side-menu-con .sections .section-con .section-list li.clearfix button {
  float: left;
}
body .side-menu .side-menu-con .sections .section-con .section-list li button {
  color: #dc3545;
  vertical-align: middle;
}
body .side-menu .side-menu-con .sections .section-con .section-list li button i {
  transform: rotateY(180deg);
  font-size: 18px;
  margin-inline-end: 5px;
  color: inherit;
}
body .side-menu .side-menu-con .sections .section-con .section-list li button i.fa-plus {
  font-size: 24px;
}
body .side-menu .side-menu-con .sections .section-con .section-list li button span {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
}
body .side-menu .side-menu-con .side-menu-footer {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
body .side-menu .side-menu-con .side-menu-footer a {
  color: #363062;
  text-decoration: underline;
}
body .bottom-nav {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  background: #363062;
}
@media screen and (min-width: 768px) {
  body .bottom-nav {
    display: none;
  }
}
body .bottom-nav .nav {
  place-content: space-between;
}
body .bottom-nav .nav a {
  color: #f5f5f5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #363062;
  text-align: center;
  padding: 0;
}
body .bottom-nav .nav a.active {
  background: #f5f5f5;
  color: #363062;
}
body .bottom-nav .nav a i {
  font-size: 28px;
  color: inherit;
  margin-top: 50%;
  transform: translate(0, -50%);
}

.app-con {
  background: #ececec;
  border-radius: 16px;
  box-shadow: 0 32px 99px #ececec33;
  min-height: calc(100vh - 200px);
  overflow: hidden;
  padding-bottom: 83px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .app-con {
    box-shadow: none;
    border-radius: 0;
    overflow: auto;
  }
}
.app-con > .navbar {
  background: linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%);
  padding: 10px 60px;
}
@media screen and (max-width: 767px) {
  .app-con > .navbar {
    padding: 8px 15px;
    direction: ltr;
  }
}
.app-con > .navbar .navbar-brand {
  width: 340px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .app-con > .navbar .navbar-brand {
    width: 150px;
  }
}
.app-con > .navbar .navbar-toggler i {
  font-size: 28px;
  color: #f5f5f5;
}
.app-con > .navbar .navbar-collapse .navbar-nav {
  margin-inline-start: auto;
  padding: 0;
}
.app-con > .navbar .navbar-collapse .navbar-nav .nav-item:not(:last-of-type) {
  margin-inline-end: 30px;
}
.app-con > .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: #f5f5f5;
}
.app-con > .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.register-btn {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 5px 15px;
}
.app-con .page-content {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .app-con .page-content {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .app-con .page-content > section > .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
}
.app-con .page-content .landing-page .welcoming h1 {
  color: #363062;
  font-size: 50px;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .welcoming h1 {
    font-size: 32px;
  }
}
.app-con .page-content .landing-page .statistics {
  margin: 80px 0;
}
.app-con .page-content .landing-page .statistics .statistic-box {
  background-color: #f5f5f5;
  border-radius: 24px;
  box-shadow: 0 0 8px #36306266;
  overflow: hidden;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
  width: 100%;
}
.app-con .page-content .landing-page .statistics .statistic-box.rotated .statistic-content .box-bg {
  transform: rotate(180deg);
}
.app-con .page-content .landing-page .statistics .statistic-box.rotated .statistic-content .text {
  bottom: 0;
  padding-inline-end: 15px;
  padding-inline-start: 0;
  text-align: end;
  top: 15px;
}
.app-con .page-content .landing-page .statistics .statistic-box .statistic-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.app-con .page-content .landing-page .statistics .statistic-box .statistic-content .box-bg {
  background: url("../images/boxes-bg.png") no-repeat center;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}
.app-con .page-content .landing-page .statistics .statistic-box .statistic-content .text {
  bottom: 15px;
  left: 0;
  padding-inline-start: 15px;
  position: absolute;
  right: 0;
  text-align: start;
  top: auto;
  z-index: 2;
}
.app-con .page-content .landing-page .statistics .statistic-box .statistic-content .text p {
  color: #f5f5f5;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .app-con .page-content .landing-page .statistics .statistic-box .statistic-content .text p {
    font-size: 24px;
  }
}
.app-con .page-content .landing-page .statistics .statistic-box .statistic-content .text p:first-of-type {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .statistics div[class^=col] div[class^=col]:last-child {
    margin-top: 30px;
  }
  .app-con .page-content .landing-page .statistics div[class^=col] div[class^=col]:last-child .statistic-box {
    padding-top: 35%;
    text-align: center;
  }
  .app-con .page-content .landing-page .statistics div[class^=col] div[class^=col]:last-child .statistic-box .text {
    text-align: center;
  }
}
.app-con .page-content .landing-page .steps h2 {
  color: #363062;
  font-size: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .steps h2 {
    font-size: 28px;
  }
}
.app-con .page-content .landing-page .steps h3 {
  color: #363062;
  font-size: 24px;
  height: 65px;
  line-height: 30px;
  margin: 0 auto 5px auto;
  overflow: hidden;
}
.app-con .page-content .landing-page .steps .step-box {
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 0 8px #36306266;
  overflow: hidden;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
  width: 100%;
}
.app-con .page-content .landing-page .steps .step-box .step-content {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-top: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -30%);
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .steps .step-box .step-content .img-con {
    margin: auto;
    max-width: 80%;
  }
}
.app-con .page-content .landing-page .steps .btn-con {
  margin-top: 60px;
  text-align: center;
}
.app-con .page-content .landing-page .steps .btn-con a.btn {
  background: linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%);
  border: none;
  border-radius: 100px;
  box-shadow: none;
  color: #f5f5f5;
  font-size: 34px;
  font-weight: 700;
  padding: 10px 80px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .steps .btn-con a.btn {
    font-size: 20px;
    padding: 8px 40px;
  }
}
@media screen and (max-width: 767px) {
  .app-con .page-content .landing-page .steps div[class^=col] div[class^=col]:last-child {
    margin-top: 30px;
  }
}
.app-con .page-content .register-page {
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .register-page {
    padding: 0 20px;
  }
}
.app-con .page-content .register-page h1 {
  font-size: 32px;
  text-align: center;
  color: #363062;
  margin-bottom: 40px;
}
.app-con .page-content .register-page .register-box {
  background: #f5f5f5;
  border-radius: 16px;
  box-shadow: 0 0 8px #36306266;
  padding: 40px;
}
.app-con .page-content .register-page .register-box h2 {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  color: #363062;
}
.app-con .page-content .register-page .register-box form .btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 0;
  background: #363062;
  color: #f5f5f5;
}
.app-con .page-content .register-page .register-box .social-login .btn {
  background: #ececec #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 0 8px #36306266;
  color: #222831;
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.app-con .page-content .register-page .register-box .social-login .btn i, .app-con .page-content .register-page .register-box .social-login .btn svg {
  color: inherit;
  font-size: 24px;
  margin-inline-start: 20px;
  vertical-align: middle;
}
.app-con .page-content .register-page .register-box .social-login .btn i.fa-facebook-square, .app-con .page-content .register-page .register-box .social-login .btn svg.fa-facebook-square {
  color: #3b5998;
}
.app-con .page-content .register-page .register-box .social-login .btn.google {
  margin-bottom: 25px;
}
.app-con .page-content .register-page .register-box .login-now {
  color: #222831;
  margin-top: 25px;
  text-align: center;
}
.app-con .page-content .register-page .register-box .login-now a {
  display: block;
  margin: auto;
  width: fit-content;
}
.app-con .page-content .register-page .register-box .login-now a:first-of-type {
  margin-bottom: 25px;
}
.app-con .page-content .home-page {
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .home-page {
    padding: 0 20px;
  }
}
.app-con .page-content .home-page .search-box h2 {
  color: #363062;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-form {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 15px #36306233;
  margin-bottom: 20px;
  padding: 25px 25px;
  position: relative;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .home-page .search-box .search-form {
    height: 174px;
    overflow: hidden;
  }
  .app-con .page-content .home-page .search-box .search-form.small-search div[class^=col]:not(:first-of-type) {
    display: none;
  }
  .app-con .page-content .home-page .search-box .search-form.small-search .form-group {
    border: none !important;
  }
}
.app-con .page-content .home-page .search-box .search-form span.expand {
  bottom: auto;
  display: block;
  left: 10px;
  position: absolute;
  right: auto;
  top: 10px;
  transition: 0.4s ease-in-out all;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .app-con .page-content .home-page .search-box .search-form span.expand {
    display: none;
  }
}
.app-con .page-content .home-page .search-box .search-form span.expand i {
  color: rgba(34, 40, 49, 0.5);
  font-size: 24px;
}
.app-con .page-content .home-page .search-box .search-form .form-group {
  border-bottom: 1px solid rgba(34, 40, 49, 0.2) !important;
}
.app-con .page-content .home-page .search-box .search-form .form-group label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control {
  background: none;
  padding: 0 !important;
}
.app-con .page-content .home-page .search-box .search-form .form-group .form-control:focus {
  box-shadow: none;
}
.app-con .page-content .home-page .search-box .search-form .btn-con {
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-form .btn-con button {
  background: #363062;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 60px;
}
.app-con .page-content .home-page .search-box .search-form .btn-con button i {
  color: inherit;
  font-size: 28px;
  margin-inline-end: 10px;
  vertical-align: middle;
}
.app-con .page-content .home-page .search-box .search-results h2 {
  color: #363062;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 8px #36306266;
  margin-bottom: 30px;
  padding: 20px 10px;
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box .img-con {
  margin-bottom: 15px;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box .img-con img {
  border-radius: 4px;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box h6 {
  color: #363062;
  margin-bottom: 10px;
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box p {
  color: #222831;
  margin-bottom: 10px;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box .btn-con {
  text-align: center;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box .btn-con button {
  background: #363062;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 15px;
}
.app-con .page-content .home-page .search-box .search-results .search-result-box .btn-con button i {
  color: inherit;
  font-size: 28px;
  margin-inline-end: 5px;
  vertical-align: middle;
}
.app-con .page-content .home-page .new-post .form-group {
  height: 190px;
  position: relative;
}
.app-con .page-content .home-page .new-post .form-group .form-control {
  background: #f5f5f5;
  border: none;
  border-radius: 8px;
  bottom: 0;
  box-shadow: 0 7px 10px #36306266;
  height: 190px;
  left: 0;
  padding: 10px;
  position: absolute;
  resize: none;
  right: 0;
  top: 0;
}
.app-con .page-content .home-page .new-post .form-group .form-control::placeholder {
  color: rgba(34, 40, 49, 0.5);
}
.app-con .page-content .home-page .new-post .form-group .input-group-append {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: auto;
}
.app-con .page-content .home-page .new-post .form-group .input-group-append button.multi-media {
  margin-inline-end: 20px;
}
.app-con .page-content .home-page .new-post .form-group .input-group-append button.multi-media i {
  color: #363062;
  font-size: 24px;
  margin-inline-end: 5px;
}
.app-con .page-content .home-page .new-post .form-group .input-group-append button.btn-post {
  background: #363062;
  border: none;
  border-radius: 0 8px 0 8px;
  color: #f5f5f5;
  margin: 0;
  padding: 10px;
}
.app-con .page-content .home-page .new-post .form-group .input-group-append button.btn-post i {
  color: inherit;
  font-size: 24px;
  margin-inline-end: 5px;
}
.app-con .page-content .home-page .new-post .form-group .input-group-append button.btn-post span {
  color: inherit;
  font-weight: 700;
}
.app-con .page-content .home-page .posts-con h2 {
  color: #363062;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.app-con .page-content .home-page .posts-con .post {
  background: #f5f5f5;
  box-shadow: 0 0 8px #36306266;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .home-page .posts-con .post {
    margin: 0 -20px 20px -20px;
  }
}
@media screen and (min-width: 768px) {
  .app-con .page-content .home-page .posts-con .post {
    border-radius: 8px;
    margin: 0 auto 20px auto;
  }
}
.app-con .page-content .home-page .posts-con .post .post-head {
  margin-bottom: 15px;
  text-align: start;
}
.app-con .page-content .home-page .posts-con .post .post-head .row div[class^=col]:last-child {
  margin-inline-start: auto;
}
.app-con .page-content .home-page .posts-con .post .post-head .user-data a:first-of-type {
  color: #363062;
  text-decoration: none;
}
.app-con .page-content .home-page .posts-con .post .post-head .user-data a:first-of-type span {
  color: inherit;
  font-weight: 700;
  margin-inline-start: 15px;
}
.app-con .page-content .home-page .posts-con .post .post-head .user-data a:first-of-type img {
  height: 64px;
  vertical-align: top;
  width: 64px;
}
.app-con .page-content .home-page .posts-con .post .post-head .user-data a:last-of-type {
  display: block;
  margin-inline-start: 79px;
  margin-top: -30px;
  position: relative;
  z-index: 9;
}
.app-con .page-content .home-page .posts-con .post .post-head .group-data {
  text-align: end;
}
.app-con .page-content .home-page .posts-con .post .post-head .group-data .dropdown, .app-con .page-content .home-page .posts-con .post .post-head .group-data .group-name {
  display: block;
  margin-inline-start: auto;
  width: fit-content;
}
.app-con .page-content .home-page .posts-con .post .post-head .group-data .dropdown a i, .app-con .page-content .home-page .posts-con .post .post-head .group-data .group-name a i {
  color: #363062;
  font-size: 24px;
}
.app-con .page-content .home-page .posts-con .post .post-head .group-data .dropdown .dropdown-menu, .app-con .page-content .home-page .posts-con .post .post-head .group-data .group-name .dropdown-menu {
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 0 6px #36306266;
  color: #222831;
  text-align: start;
}
.app-con .page-content .home-page .posts-con .post .post-content p {
  text-align: start;
}
.app-con .page-content .home-page .posts-con .post .post-content .img-fluid {
  width: 80%;
}
.app-con .page-content .home-page .posts-con .post .post-content hr {
  border-top: 2px solid #2228311a;
  margin: 15px -20px;
}
.app-con .page-content .home-page .posts-con .post .post-interaction button {
  border: none;
  padding: 8px 10px;
}
.app-con .page-content .home-page .posts-con .post .post-interaction button i {
  color: #363062;
  font-size: 24px;
  margin-inline-end: 5px;
  vertical-align: middle;
}
.app-con .page-content .home-page .posts-con .post .post-interaction button span {
  vertical-align: middle;
}
.app-con .page-content .home-page .posts-con .post .post-interaction button:first-of-type {
  margin-inline-end: 10px;
}
.app-con .page-content .home-page .posts-con .post .post-comments {
  padding-top: 35px;
  position: relative;
  text-align: start;
}
.app-con .page-content .home-page .posts-con .post .post-comments h6 {
  margin-bottom: 15px;
}
.app-con .page-content .home-page .posts-con .post .post-comments h6 i {
  color: #363062;
  font-size: 24px;
  margin-inline-end: 10px;
  vertical-align: middle;
}
.app-con .page-content .home-page .posts-con .post .post-comments h6 span {
  color: #222831;
  font-weight: 700;
  vertical-align: middle;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment {
  margin-bottom: 20px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-head .user-data a img, .app-con .page-content .home-page .posts-con .post .post-comments .comment .reply-head .user-data a img {
  height: 53px;
  margin-inline-end: 10px;
  width: 53px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-head .user-data a span, .app-con .page-content .home-page .posts-con .post .post-comments .comment .reply-head .user-data a span {
  color: #363062;
  font-weight: 700;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-head .row div[class^=col]:last-child, .app-con .page-content .home-page .posts-con .post .post-comments .comment .reply-head .row div[class^=col]:last-child {
  margin-inline-start: auto;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-interactions, .app-con .page-content .home-page .posts-con .post .post-comments .comment .reply-interactions {
  text-align: end;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-interactions button i, .app-con .page-content .home-page .posts-con .post .post-comments .comment .reply-interactions button i {
  color: #363062;
  font-size: 24px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-replies {
  margin-top: 20px;
  padding-inline-start: 40px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .comment .comment-replies .reply {
  margin-bottom: 15px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input {
  margin-top: 10px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input.comment-input, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input.comment-input {
  margin-bottom: 10px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group {
  height: 50px;
  margin-bottom: 0;
  position: relative;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .form-control, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .form-control {
  background: #ececec;
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  padding-inline-start: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .form-control:focus, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .form-control:focus {
  box-shadow: 0 0 8px #36306266;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .form-control::placeholder, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .form-control::placeholder {
  color: rgba(34, 40, 49, 0.5);
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .input-group-append, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .input-group-append {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: 0;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .input-group-append .btn, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .input-group-append .btn {
  background: #363062;
  border-radius: 4px 0 0 4px;
  color: #f5f5f5;
  padding: 0;
  text-align: center;
  width: 50px;
}
.app-con .page-content .home-page .posts-con .post .post-comments .reply-input .form-group .input-group-append .btn i, .app-con .page-content .home-page .posts-con .post .post-comments .comment-input .form-group .input-group-append .btn i {
  color: inherit;
  font-size: 24px;
}
.app-con .page-content .home-page .posts-con .post .post-comments:before {
  border-top: 2px solid #2228311a;
  bottom: auto;
  content: "";
  left: 0;
  margin: 15px -20px;
  position: absolute;
  right: 0;
  top: 0;
}
.app-con .page-content .home-page .groups, .app-con .page-content .home-page .stories {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .home-page .groups, .app-con .page-content .home-page .stories {
    margin: 0 -20px 20px -20px;
  }
}
.app-con .page-content .home-page .groups h5, .app-con .page-content .home-page .stories h5 {
  color: #363062;
  margin-bottom: 15px;
  text-align: center;
}
.app-con .page-content .home-page .groups .owl-carousel, .app-con .page-content .home-page .stories .owl-carousel {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px #36306266;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .app-con .page-content .home-page .groups .owl-carousel, .app-con .page-content .home-page .stories .owl-carousel {
    border-radius: 0;
  }
}
.app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-next, .app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-prev, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-next, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-prev {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  padding: 0 10px !important;
  text-align: center;
}
.app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-next i, .app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-prev i, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-next i, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-prev i {
  color: #363062;
  font-size: 24px;
  padding-top: 60%;
}
.app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-next.owl-prev, .app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-prev.owl-prev, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-next.owl-prev, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-prev.owl-prev {
  bottom: 0;
  left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-next.owl-next, .app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-prev.owl-next, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-next.owl-next, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-prev.owl-next {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(0, -50%);
}
.app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-next.disabled i, .app-con .page-content .home-page .groups .owl-carousel .owl-nav .owl-prev.disabled i, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-next.disabled i, .app-con .page-content .home-page .stories .owl-carousel .owl-nav .owl-prev.disabled i {
  color: rgba(34, 40, 49, 0.5);
}
.app-con .page-content .home-page .groups.stories .story, .app-con .page-content .home-page .groups.stories .add-story, .app-con .page-content .home-page .stories.stories .story, .app-con .page-content .home-page .stories.stories .add-story {
  background: #f5f5f5;
  border: 2px solid #363062;
  border-radius: 50%;
  box-shadow: 0 0 5px #36306266;
  height: 86px;
  width: 86px;
}
.app-con .page-content .home-page .groups.stories .story a, .app-con .page-content .home-page .groups.stories .add-story a, .app-con .page-content .home-page .stories.stories .story a, .app-con .page-content .home-page .stories.stories .add-story a {
  display: block;
  text-align: center;
}
.app-con .page-content .home-page .groups.stories .story a i, .app-con .page-content .home-page .groups.stories .add-story a i, .app-con .page-content .home-page .stories.stories .story a i, .app-con .page-content .home-page .stories.stories .add-story a i {
  font-size: 28px;
  margin-top: 50%;
  transform: translate(0, -50%);
}
.app-con .page-content .home-page .groups.stories .story a img, .app-con .page-content .home-page .groups.stories .add-story a img, .app-con .page-content .home-page .stories.stories .story a img, .app-con .page-content .home-page .stories.stories .add-story a img {
  height: 100%;
  width: 100%;
}
.app-con .modal .modal-dialog {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 7px 10px #36306266;
  position: relative;
}
.app-con .modal .modal-dialog .modal-content {
  background: none;
  border: none;
}
.app-con .modal.add-story-modal .modal-content .btn:first-of-type {
  margin-bottom: 25px;
}
.app-con .modal.add-story-modal .modal-content .btn i {
  color: #363062;
  font-size: 24px;
  margin-inline-end: 5px;
  vertical-align: middle;
}
.app-con .modal.view-story-modal .modal-dialog {
  overflow: hidden;
  padding-top: 56.25%;
}
.app-con .modal.view-story-modal .modal-dialog .modal-con {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.app-con .modal.view-story-modal .modal-dialog .modal-header {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: none;
  bottom: auto;
  position: relative;
  z-index: 999;
}
.app-con .modal.view-story-modal .modal-dialog .modal-header .user-data a img {
  border: 2px solid #363062;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
.app-con .modal.view-story-modal .modal-dialog .modal-header .user-data a span {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 700;
}
.app-con .modal.view-story-modal .modal-dialog .modal-header .close-modal {
  bottom: auto;
  left: 5px;
  position: absolute;
  right: auto;
  top: 5px;
}
.app-con .modal.view-story-modal .modal-dialog .modal-header .close-modal i {
  color: #dc3545;
  font-size: 24px;
}
.app-con .modal.view-story-modal .modal-dialog .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.app-con .modal.view-story-modal .modal-dialog .modal-content .img-con {
  background: url("../images/story-preview.png") center/contain no-repeat #f5f5f5;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.app-con footer {
  background: linear-gradient(143deg, #363062 0%, #9992d1 50%, #363062 100%);
  padding: 10px 60px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .app-con footer {
    display: none;
  }
}
.app-con footer nav {
  display: flex;
}
.app-con footer nav .navbar-brand {
  width: 225px;
  margin: 0;
}
.app-con footer nav .navbar-nav {
  padding: 0;
}
.app-con footer nav .navbar-nav .nav-item {
  color: #f5f5f5;
}
.app-con footer nav .navbar-nav .nav-item a {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
